<h1> Profile Detail</h1>

<div> 
    first Name : <%= user.firstName %> 
</div>

<div> 
    last Name : <%= user.lastName %> 
</div>

<div> 
    company Name : <%= user.companyName %> 
</div>

<div> 
    company CR : <%= user.companyCR %> 
</div>

<div> 
    address : <%= user.address%>
</div>

<div> 
    phone : <%= user.phone %> 
</div>

<div> 
    email : <%= user.email %> 
</div>





