
<link rel="stylesheet" href="style.css">

<% if (currentUser._id.toString() === user._id.toString()) { %>

    <div class="container">
    <div class="subscribe-title text-center">
        <h1> My Account </h1>
    </div>  

<div class="container emp-profile">
    <form method="post" action="/profile/editProfileImage" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="/uploads/<%=currentUser.profileImage%>" class="profile-pic" style="height: 250px;">
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                            <div class="col-md-12">
                            <input type="file" name="profileImage" accept="image/*">
    </div>
</div>
</div>
    <input type="hidden" name="id" value="<%= currentUser._id %>">
    <input type="submit" class="btn btn-primary" value="Update"></input>
    </form>
</div>
</div>
</div>
<a href="/profile/edit" class="btn btn-outline-primary"> Edit My Profile</a> 
<% } %>

<table class="table able-striped">

    <tr>
        <% if(user.companyName) {  %>
        <th> Company Name </th>
        <th> Company CR </th>
        <th> City </th>
        <th> Address </th>
        <% } else { %>
        <th> First Name </th>
        <th> Last Name </th>
        <% } %>
        
        <th> Phone Number </th>
        <th> Email Address </th>

    </tr>


    <tr>
        
            <% if(user.companyName) {  %>
                <td><%= user.companyName %></td>
                <td><%= user.companyCR %></td>
                <td><%= user.city %></td>
                <td><%= user.address %></td>
            <% } else { %>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
            <% } %>
        </td>

        <td> 
            <%= user.phone %>
        </td>
        
        <td> 
            <%= user.email %>
        </td>


        <a href="/comment/show" class="btn btn-outline-primary">Pending Questions</a>


    </tr>




</table>
