<% if (currentUser && currentUser._id.toString() === user._id.toString()) { %>

<div class="container">
  <div class="subscribe-title text-center" style="padding: 20px;">
    <h2> My Account </h2>
  </div>

  <div class="container emp-profile" >
    <form method="post" action="/profile/editProfileImage" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-4">
          <br>
          
    </form>
  </div>
</div>
<img src="/uploads/<%=currentUser.profileImage%>" class="profile-pic" style=" width: 200px; height: auto ;" for="files">

<form method="POST" action="/profile/editProfileImage" enctype="multipart/form-data">
    <br>
  <input type="file" name="profileImage" id="files" class="hidden" accept="image/*">
  <input type="hidden" name="id" value="<%= currentUser._id%>">


<table class="table able-striped">

  <tr>
    <% if(user.companyName) {  %>
    <th> Company Name </th>
    <th> Company CR </th>
    <th> City </th>
    <th> Address </th>
    <% } else { %>
    <th> First Name </th>
    <th> Last Name </th>
    <% } %>

    <th> Phone Number </th>
    <th> Email Address </th>

  </tr>


  <tr>

    <% if(user.companyName) {  %>
    <td><%= user.companyName %></td>
    <td><%= user.companyCR %></td>
    <td><%= user.city %></td>
    <td><%= user.address %></td>
    <% } else { %>
    <td><%= user.firstName %></td>
    <td><%= user.lastName %></td>
    <% } %>
    </td>

    <td>
      <%= user.phone %>
    </td>

    <td>
      <%= user.email %>
    </td>

  </tr>

</table>
<a href="/comment/show" class="btn btn-outline-danger">Pending Questions</a>
<a href="/profile/edit" class="btn btn-outline-danger"> Edit My Profile</a>
<input type="submit" class="btn btn-outline-danger" value="Update My Profile Picture"></input>

<% } %>
</form>