

<div class="container" style="margin-bottom: 300px;">
  <h1 style="text-align: center"><strong>Pending Questions</strong></h1>
<table class="table table-hover">
  <tr>
    <th>Listing</th>
    <th>Question</th>
    <th>Answer</th>
    <th>Submit</th>
  </tr>
  <% var noPendingQuestions = true %>
  <% user.listings.forEach(function(listing) { %>
    <% listing.comments.forEach(function(comment) { %>
      <% if(!comment.answer) { %>
        <% noPendingQuestions = false %>
        <form method="POST" action="show">
          <tr>
            <td>
              <a href="/listing?id=<%= listing._id %>"><%= listing.type %> at <%= listing.location %></a>
            </td>
            <td><%= comment.question %></td>
            <input type="hidden" name="commentId" value="<%= comment._id %>">
            <input type="hidden" name="listingId" value="<%= comment.listingID %>">
            <td>
              <input name="answer" type="text" class="form-control">
            </td>
            <td>
              <button type="submit" class="btn btn-outline-danger">submit</button>
            </td>
          </tr>
        </form>
        <% } %>
        <% }) %>
        <% }) %>
        <% if(noPendingQuestions) { %>
          <tr>
            <td colspan="4">
              <p style="text-align: center">No pending questions!</p>
            </td>
          </tr>
        <% } %>
</table>
</div>
