<!--explore start -->
<section id="explore" class="explore">
  <div class="container">
    <div class="section-header">
      <h2><%= listing.type %> at <%= listing.location %></h2>
      <p>Listed by: <a href="/profile?id=<%= listing.uid._id %>">
        <% if (listing.uid.companyName) { %>
        <%= listing.uid.companyName %>
        <% } else { %>
        <%= listing.uid.firstName %>
        <% } %>
      </a></p>
    </div><!--/.section-header-->
    <div class="explore-content">
      <div class="row">
        <!---------------->
        <!---------------->

        <div class="card mb-3">
          <img src="/img/<%= listing.photos[0] %>" class="card-img-top" alt="property photo">
          <div class="card-body">
            <h5 class="card-title"><%= listing.type %> at <%= listing.location %></h5>
            <p class="card-text"><br>
              Location: <%= listing.location %>
              <br>
              Price: <%= listing.price %> BHD
              <br>
              Description: <%= listing.description %>
              <br>
              Area Size: <%= listing.areaSize %> m<sup>2</sup>
              <br>
              Bedrooms: <%= listing.bedrooms %>
              <br>
              Bathrooms: <%= listing.bathrooms %>
              <br>
              Living Rooms: <%= listing.livingRooms %>
              <br>
              Halls: <%= listing.halls %>
              <br>
              Parkings: <%= listing.parkings %>
              <br><br>
          </div>
        </div>
      </div>


      <div>
        <% if(currentUser && currentUser._id.toString()===listing.uid._id.toString()) { %>
        
          <a href="/listing/delete?id=<%= listing._id %>" style="text-decoration: none;"><b>❌ DELETE LISTING</b></a></td>
          <a href="/listing/edit?id=<%= listing._id %>" style="text-decoration: none;"><b>📝 EDIT LISTING</b></a></td>

        <% } else if(currentUser) { %>
        
      <form method="POST" action="/comment/add">
        <textarea name="question" placeholder="Ask the seller any question about this <%= listing.type %> at <%= listing.location %>" class="form-control"></textarea>
        <input class="form-control" name="askingUID" type="hidden" value="<%= currentUser._id %>">
        <input type="hidden" name="listingID" value="<%= listing._id %>">
        <input type="hidden" name="answeringUID" value="<%= listing.uid._id %>">
        <br>
        <button type="submit" class="btn btn-outline-danger" >Submit</button>
      </form>
      <% } else { %>
        <p>
          Please <a href="/auth/login">Log In</a> or 
          <a href="/auth/signup">Register</a> to leave a comment
        </p>
      <% } %>
    </div>
  </div>
    <br>

  <div class="card">
    <div class="card-body">
      <h4>Comments:</h4>
          <ul>
          <% listing.comments.forEach((comment)=> { %>
            <hr>
            <li>&nbsp; Question: <%= comment.question %></li>
            <% if (comment.answer) { %>
              <li>&nbsp; Answer: <%= comment.answer %></li>
            <% } else { %>
              <li>&nbsp; ..Waiting for seller to answer..</li>
            <% } %>
            
          <% }) %>
          </ul>
    </div>
  </div>
</div><!--/.container-->

</section><!--/.explore-->
<!--explore end -->
