<div class="container">
  <div class="row">
  <% listings.forEach((listing, index)=> { %>
<div class="card col-md-3" style="width: 18rem;">
  <img class="card-img-top" src="<%= listing.photos[0] %>" alt="Card image cap">
  <div class="card-body">
    <a href="/listing/detail?id=<%= listing._id %>">
      <h5 class="card-title"><%= listing.type %> at <%= listing.location %></h5>
    </a>
    <p class="card-text"> <%= listing.description %> </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <%= listing.bedrooms %> Bedrooms</li>
    <li class="list-group-item"> <%= listing.bathrooms %> Bathrooms</li>
    <li class="list-group-item"> <%= listing.livingRooms %> Living Rooms</li>
  </ul>
  <div class="card-body">
    <a href="https://api.whatsapp.com/send?phone=+973<%= listing.uid.phone %>" target="_blank" class="card-link">WhatsApp</a>
    <a href="tel:+973<%= listing.uid.phone %>" target="_blank" class="card-link">Call Seller</a>
  </div>
</div>
<% }) %>
</div>
</div>